h1:hover {
    cursor: pointer;
    max-width: fit-content;
    justify-self: center;
}

h1 {
    margin-block-start: 0.7em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navBar>h1 {
    position: relative;
    text-align: center;
}

.slideShowWrapper {
    position: relative;
}