 .slideShow {
    display: block;
    position: relative;
    height: 100%;
    gap: 25px;
    object-fit: fill;
}

.centerImage {
    position: absolute;
}

.rightImage {
    position: absolute;
}

.leftImage {
    position: absolute;
}

.image {
    position: absolute;
}


.leftButton {
    z-index: 2;
    position: absolute;
    left: 20vw;
    top: 25%;
    height: 50%;
}

.leftButton:hover {
    cursor: pointer;
}

.rightButton {
    z-index: 2;
    position: absolute;
    right: 20vw;
    top: 25%;
    height: 50%;
}

.rightButton:hover {
    cursor: pointer;
}

.leftMask {
    position: absolute;
    z-index: 1;
    background: linear-gradient(to right, #E2E8F0, 80%, transparent);
    left: -5vw;
    top: 0vw;
    height: 100%;
    width: 35vw;
}

.leftMask:hover {
    cursor: wi;
    cursor: url("godscursor32.svg"), auto;//w-resize;
}

.rightMask {
    position: absolute;
    z-index: 1;
    background: linear-gradient(to left, #E2E8F0, 80%, transparent);
    right: -5vw;
    top: 0vw;
    height: 100%;
    width: 35vw;
}

.rightMask:hover {
    cursor: e-resize;
}
    
img {
    //max-width: 100%;
    height: 100%;
    //transition-property: height;
    //transition-duration: 500ms;
}